@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .chatApp{
    padding: 20px;
    background-image:url("/src/assets/bg.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
 .container{
    width: 80vw;
    height: 90vh;
    background-color: rgba(17,25,40,0.75);
    backdrop-filter: blur(19px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.125);
    display: flex;
  }
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(31, 41, 55, 0.8); /* Tailwind's gray-800 */
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(17, 25, 40, 0.5); /* Background of the scrollbar track */
  }